
/*본문1의 경우 미디어 쿼리로 전체 화면 늘어났을 때는 크기70%에 가운데 정렬 오게 해야함요*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap');
  /*미디어 쿼리는 맨 밑에 넣었음, 왜냐하면 셀렉터 서열상 가장 밑에 있어야 최신으로 적용되기 때문이다. */


  body{
    font-family: 'Gothic A1', sans-serif;
  }
  p{
    font-family: 'Gothic A1', sans-serif;
  }
  h1{
    font-size: 45px;
  }
  h4{
    font-size: 25px;
  }
  a{
    color: #FFFFFF;
    text-decoration: none;
  }
  .여백1{
    margin:20px;
  }
  .여백2{
    padding: 20px;
    text-align: center;
  }
  .여백3{
    background-color: #F18D44;
    text-align: center;
    border:solid;
    border-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
  }
  .여백4{
    background-color: #F18D44;
    border-radius: 20px;
    justify-content: center;
    padding: 50px;
  }
  .목차{
    font-size: 30px;
    color: #FFFFFF;
  }
  #서명목차{
    font-size: 30px;
    color: #FFFF00;
  }
  .본문{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    padding: 100px;
    background-color: #FFFFFF;
    text-align: center;
    width: auto;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
  }
  .꼬릿말{
    text-align:center;
    margin: 20px;
  }
  .머릿말타이틀{
    color: #FFFFFF;
    text-align: center;
    margin: 50px;
    padding: 50px;
  }
  .콘텐츠{
    border-style: solid;
    border-width: 2px;
    border-color: rgba(235, 235, 235, 0.8);
    padding: 20px;
    margin: 10px;
  }

/*여기부턴 영상태그임*/


/*미디어쿼리임 - 지금은 일단 스마트폰에서 깨짐 현상으로 인해 아래 미디어 쿼리는 사용하지 않기로 했음 나중에 공부 더 하고 사용합시다.
  @media (min-device-aspect-ratio:16/9) and (min-width:1500px) {
   .본문1{
     position: relative;
     left:21%;
     width:55%;
   }
   */
