
/*본문1의 경우 미디어 쿼리로 전체 화면 늘어났을 때는 크기70%에 가운데 정렬 오게 해야함요*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap');
  /*미디어 쿼리는 맨 밑에 넣었음, 왜냐하면 셀렉터 서열상 가장 밑에 있어야 최신으로 적용되기 때문이다. */


  body{
    font-family: 'Gothic A1', sans-serif;
  }
  p{
    font-family: 'Gothic A1', sans-serif;
  }
  h1{
    font-size: 45px;
  }
  h4{
    font-size: 25px;
  }
  a{
    color: #FFFFFF;
    text-decoration: none;
  }
  .여백1{
    margin:20px;
  }
  .여백2{
    padding: 20px;
    text-align: center;
  }
  .여백3{
    background-color: #F18D44;
    text-align: center;
    border:solid;
    border-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
  }
  .여백4{
    background-color: #F18D44;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 98%;
    grid-template-rows: 200px 1fr;
    justify-content: center;
    padding: 50px;
  }
  .목차{
    font-size: 30px;
    color: #FFFFFF;
  }
  #서명목차{
    font-size: 30px;
    color: #FFFF00;
  }
  .머릿말{
    text-align: center;
    padding: 20px;
    margin: 20px;
  }
  .머릿말타이틀{
    color: #FFFFFF;
  }
  .꼬릿말{
    text-align:center;
    margin: 20px;
  }
  .본문1{
    border-radius: 50px;
    width: auto;
    padding: 10px;
    margin: 20px;
    background-color: #FFFFFF;
    text-align: center;

  }
  #본문머리{
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: rgba(235, 235, 235, 0.5);
    padding: 35px;
  }
  .내용1{
    background-color: rgba(235, 235, 235, 0.8);
    border-radius: 50px;
    padding: 30px;
    margin: 50px;
  }



  /*여기부터 영상 관련 태그인데, 이게 왜 이렇게 반응형이 되는지 잘 모르겠다. 나중에 공부해보도록 합시다. 혹시 이 방법을 사용하면 미디어 쿼리 사용 안해도 페이지 자체를 능동적으로 바꿀수 있지 않으까??*/
  .video {
      position: relative;
      padding-bottom: 56.25%;
      height:0;
      overflow:hidden;
  }
  .video iframe,
  .video object,
  .video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height:100%;
  }
  /*여기까지 영상 태그임*/

  #본문문구1{
    width: 90%
  }
  #본문문구2{
    width: 100%
  }



/*미디어쿼리임*/
  @media (min-device-aspect-ratio:16/9) and (min-width:1500px) {
   .본문1{
     position: relative;
     left:21%;
     width:55%;
   }
